* {
    margin: 0;
    padding: 0;
    /* text-align: center; */
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .choice{
    height: 158px;
    width: 158px;
    margin-left: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2;
  }

  .choice:hover{
      cursor: pointer;
      background-color: #081b31;
  }

  .score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  } 
  
#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 2rem;
    /* display: grid;
    place-items: center; */
    display:flex;
    justify-content: center;
    align-items:center;

}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

}
  
  
  